@tailwind base;
@tailwind components;
@tailwind utilities;


/* common style */
.my-container{
    @apply max-w-[1240px] mx-auto px-3
}

.my-inp{
    box-shadow: 0px 7px 29px 0px #64646F33;
    @apply block w-full p-3 bg-[#FFFFFF] text-slate-500 font-semibold placeholder:text-slate-400 border-none rounded focus:outline-none
}
.contact-us-inp{
    @apply block w-full py-1 text-slate-500 font-semibold placeholder:text-slate-300 border-b border-b-slate-400 rounded focus:outline-none
}

.my-shadow{
    box-shadow: 0px 4px 71px 0px #0000001F;
}

/* testimonial triangle */
.testimonial-triangle{
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 100px 70px 0 70px;
    border-color: #ffffff transparent transparent transparent;
    position: absolute;
    left: 65px;
    bottom: -50px;
    /* box-shadow: 0px 4px 71px 0px #0000001F; */
}


/* flag number inp */
.react-tel-input .form-control{
    box-shadow: 0px 7px 29px 0px #64646F33 !important;
    @apply !block !w-full !py-5 !h-12 !bg-[#FFFFFF] !text-slate-500 !font-semibold placeholder:text-slate-400 !border-none !rounded focus:outline-none
}
.flag-dropdown{
    border: none !important;
    box-shadow: 0px 7px 29px 0px #64646F33 !important;
}


.my-title{
    @apply font-bold text-3xl lg:text-4xl
}
.my-subtitle{
    @apply font-semibold text-xl lg:text-3xl text-[#001E43]
}


/* common button */
.my-btn-one{
    @apply inline-flex justify-center items-center gap-2 relative rounded px-5 py-2.5 overflow-hidden bg-[#001E43] hover:bg-gradient-to-r hover:bg-[#001e43a2] text-white transition-all duration-500 my-2 cursor-pointer
}
.my-btn-one-disable{
    @apply inline-flex justify-center items-center gap-2 relative rounded px-5 py-2.5 bg-[#001E43] bg-opacity-25 text-white my-2 cursor-pointer
}


/* services section */
.my-service{
    background:  linear-gradient(180deg, rgba(255, 255, 255, 0.03) 0%, rgba(255, 255, 255, 0.03) 100%);
    border: 1px solid #fafafa1c;
}